body{
    margin: 0px 0px;
}

header{
    background-color: black;
    color:white;
    font-size: 50px;
    text-align: center;
    position:fixed;
    top:0px;
    height:80px;
    width: 100%;
    font-family: Helvetica;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;

}



nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 30px;
    position: relative;
  }

nav{
    color: yellow;
    background-color:black;
    margin-top: 42px;
    width: 100%;
    position: relative;
    position: inline-block;
    margin-bottom: 0;
    margin-right: 0
}

nav ul{
    margin-bottom: 0;
    margin-right: 0;
    color: green;
    position: fixed;
    padding-top: 10px;
}


.Mishka-Intro img {
    box-sizing: content-box;
    width:400px;
    height: 400px;
    border-radius: 100%;
    float: left;
    background-position: 11px 0;
    padding: 80px
}

.Mishka-Intro {
    height: 600px;
    color: black;
    display: inline-block;
    text-align: left; 
    background-image: url(../images/cats10.png);
    width: 100%;
    background-color:bisque;
    background-blend-mode:color-burn;
    margin-top: -30px;
}
.Mishka-Message{
    text-align: left;
    overflow: scroll ;
    text-shadow: 3px salmon ;
    margin-top: 80px;

}

.Mishka-Message h2 {
    font-weight: 100 ;
    font-size: 50px ;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Mishka-Message h1 {
    font-weight: 700 ;
    font-size: 50px ;
    color: black;
    line-height:60px;
    font-family: Helvetica;
    
}

.Mishka-Message h3 {
    font-weight: 100 ;
    font-size: 25px ;
    color: black;
    line-height:30px;
    max-width: 540px;
    font-family: 'Calibri, 'Trebuchet MS', 'sans-serif'
}


.Projects-Section{
    margin-top: -29px;
    width: 100%;
    height: 360px;
    background-image: url(../images/codingprojects-cat.png);
    background-position: 1600px;
    background-blend-mode:soft-light;
    background-color:antiquewhite;

}

.Projects-Section h1{
    color: black;
    text-align: center;
    letter-spacing:3px;
    padding-top: 10px;
    font-size: 40px;
    padding-bottom: 0;
    font-family: Helvetica,Arial, sans-serif;
}

.coding-cheatsheets{
    background-color: hsla(100,100,100 0.8);
    margin-top: -29px;
    width: 100%;
    height: 1000px;
    background-image: url(../images/certification-cat2.png);
    background-color:blanchedalmond;
    background-blend-mode:soft-light;
}
.coding-cheatsheets h1{
    color: black;
    text-align: center;
    letter-spacing:3px;
    padding-top: 10px;
    font-size: 40px;
    padding-bottom: 0;
    font-family:  Helvetica,Arial, sans-serif;

}

#cheatsheets { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px, 10px;
    text-align: center;

    
}

.About-Erica{
    margin-top:-32px;
    height: 2500px;
    color: black;
    display: inline-block;
    text-align: left; 
    background-image: url(../images/cats16.jpg);
    width: 100%;
    background-color: rgba(255, 228, 196,1);
    margin-top: -30px;  
}

.About-Erica h1{
    color: black;
    text-align: center;
    word-spacing: 3px;
    padding-top: 10px;
    font-size: 50px;
    padding-bottom: 0;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 700;
}

.erica-photos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px, 10px;
    text-align: center;
}

.erica-labels ul li{
    color: black;
    font-family: 'Raleway', sans-serif;
    font: weight 900px;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 32%;
}

.Meow-Gallery{
    margin-top: -33px;
    width: 100%;
    height: 1700px;
    background-image: url(../images/paws3.png);
    background-blend-mode:lighten;
    background-color: rgba(255, 228, 196,1)
   

}

.Meow-Gallery h1{
    color: black;
    text-align: center;
    word-spacing: 3px;
    padding-top: 10px;
    font-size: 50px;
    padding-bottom: 0;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: 700;
}


#Meow-photos {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  object-position: 50%;
    height: 500px;
    width: 100px ;
    justify-content:space-between;
   

}

#Meow-photos img {
  border-radius: 40%;
  width: 400px;
  height: 400px;
}

.about-labels {
    font-family:  Helvetica, Arial, 'sans-serif';
    font-size: 30px;
    font-weight: 480;
    color: rgba(26, 5, 26,1)
}

footer{
    background-color: rgb(232, 191, 213);
    background-color: hsla(100,100,100 0.8);
    margin: 0 auto;
    width: 100%;
}